= link_to user, class: "user #{user.status_class}" do
  %header
    = image_tag gravatar_url(user.email, 100), class: 'avatar'
    %h3= user.full_name
    %span= user.on_holidays?

  .body
    .days-counter.available
      %h4= user.available_days
      %h5 days available

    .days-counter.spent
      %h4= user.current_year_days_spent
      %h5 days spent
