%nav#main_nav
  = link_to root_path, class: 'logo-link' do
    = image_tag 'logo-white.png', width: 100, class: 'logo'
  %ul.nav
    %li
      #request_holidays_button_wrapper
    %li.days-left-wrapper
      .days-left
        %strong= current_user.available_days
        %small days <br/> left
    %li
      %a{href: '#'}
        = image_tag gravatar_url(current_user.email), class: 'avatar', id: 'user_nav_toggle'
      %ul.dropdown
        %li
          = link_to destroy_user_session_path, method: :delete do
            = fa_icon 'sign-out'
            Sign out

