%header#main_header
  = link_to root_path, class: 'logo-link' do
    = image_tag 'logo-white.png', width: 100, class: 'logo'
  %nav.nav
    %ul
      %li
        %a.btn{href: '#'} Request holidays
      %li#user_nav_toggle
        %a{href: '#'}
          = image_tag gravatar_url(current_user.email), class: 'avatar'
        %ul.dropdown
          %li
            = link_to destroy_user_session_path, method: :delete do
              = fa_icon 'sign-out'
              Sign out

