%aside
  %nav
    %ul
      %li
        = link_to users_path, class: ('current' if controller_name == 'users') do 
          = fa_icon 'users'
          Team
      %li
        %a{href: ""}
          = fa_icon 'calendar'
          Global
      %li
        %a{href: ""}
          = fa_icon 'envelope-o'
          Inbox
      %li
        %a{href: ""}
          = fa_icon 'cog'
          Settings
