!!!
%html
  %head
    %title DiacodeHolidays
    %link{href: "//fonts.googleapis.com/css?family=#{google_fonts}", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body{class: "application #{controller_name} #{action_name}", data: {'view-name': js_view_name}}
    = render 'layouts/partials/main_header'
    #main_wrapper
      = render 'layouts/partials/main_nav'
      %main
        = yield
    = include_gon
    = javascript_include_tag 'application'
