!!!
%html
  %head
    %title DiacodeHolidays
    %link{href: "//fonts.googleapis.com/css?family=#{google_fonts}", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png'
  %body.application
    = render 'layouts/partials/main_header'
    #main_wrapper
    = include_gon
    = javascript_include_tag 'application'
