!!!
%html
  %head
    %title DiacodeHolidays
    %link{href: "//fonts.googleapis.com/css?family=#{google_fonts}", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'devise'
    = csrf_meta_tags
  %body.user-access
    .wrapper
      %header
        = image_tag "logo-white.png"
      .card= yield
